<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435555508279-jf88cj1iqg0f4745u08bptjojdp721lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435555508279-jf88cj1iqg0f4745u08bptjojdp721lk</string>
	<key>API_KEY</key>
	<string>AIzaSyBdciLfBttVC6NexhAzoTXBo-9HE2FBwJU</string>
	<key>GCM_SENDER_ID</key>
	<string>435555508279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sch.slot-machine</string>
	<key>PROJECT_ID</key>
	<string>androidcourse-366623</string>
	<key>STORAGE_BUCKET</key>
	<string>androidcourse-366623.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435555508279:ios:5fcbb04214a9725d771fb2</string>
</dict>
</plist>